<li class="user-nav__preferences-yulib">
  <a href="/u/{{this.model.username}}/preferences/yulib" class="ember-view">
    <svg class="fa d-icon d-icon-book svg-icon fa-width-auto svg-string" width="1em" height="1em" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><use href="#book"></use></svg>
    <span>YuLib Integration</span>
  </a>
</li>