/* ================================================= */
/*  ИКОНКА ВЕРИФИКАЦИИ */
/* ================================================= */
/* Принудительно показываем иконку Верификации */
.yulib-badge {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 16px !important;
  height: 16px !important;
  margin-bottom: 0.12em;
  vertical-align: middle !important;
}

/* Иконка верификации */
.yulib-badge svg.yulib-icon-svg {
  fill: #0088cc !important; /* Насыщенный синий */
  color: #0088cc !important;
  width: 16px !important; /* Фиксированный размер в пикселях */
  height: 16px !important;
  display: inline-block !important;
  opacity: 1 !important; /* На случай, если кто-то поставил прозрачность */
  visibility: visible !important;
}

/* Иконка верификации */
/* На случай, если иконка обрезается родителем */
.names .username {
  overflow: visible !important;
}

/* Иконка верификации в профиле всплывающем */
.yulib-verified-badge {
  display: inline-flex;
  vertical-align: middle;

  svg {
    width: 1.3em;
    height: 1.2em;
    /* Принудительно красим в синий */
    color: #0061ff !important;
    fill: #0061ff !important;
  }
}

/* ================================================= */
/* END ИКОНКА ВЕРИФИКАЦИИ */
/* ================================================= */


/* Находим контейнер контента */
.user-main .user-content {
  max-width: none !important;
  width: 100% !important;
}

/* ВОТ ОНО! Находим форму внутри контента.
   Именно она сжимала твой блок.
   Мы принудительно делаем её широкой.
*/
.user-main .user-content form {
  max-width: none !important; /* Убираем лимит */
  width: 100% !important; /* Растягиваем */
  display: block !important; /* Убираем лишние флексы */
  padding-right: 20px; /* Чуть воздуха справа */
  box-sizing: border-box;
}

/* ================================================= */
/* 2. ЛЕЧИМ ВНУТРЕННИЕ ОТСТУПЫ (control-group) */
/* ================================================= */
/* В твоем HTML всё еще видны классы control-group и controls.
   Они добавляют отступ слева. Убираем его.
*/

.yulib-integration.control-group,
.yulib-integration .controls {
  margin-left: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  float: none !important;
  display: block !important;
}

.yulib-integration .control-label {
  text-align: left !important;
  width: 100% !important;
  float: none !important;
  display: block !important;
  margin-bottom: 10px;
}

/* ================================================= */
/* 3. ТВОИ СТИЛИ ДЛЯ КНИГ */
/* ================================================= */

.yulib-page-wrapper {
  width: 100%;
}

.yulib-book-group {
  margin-bottom: 40px;
  width: 100%;
}

.yulib-group-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--primary-low);
  padding-bottom: 5px;
}

/* СЕТКА (СЛАЙДЕР) */
.yulib-book-grid {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  width: 100%;

  gap: 15px;
  padding-bottom: 20px;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: var(--primary-low-mid);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--primary-medium);
    border-radius: 4px;
  }
}

/* ==================================================== */
/* КАРТОЧКА КНИГИ В НАСТРОЙКАХ */
/* ==================================================== */
.yulib-book-card {
  flex: 0 0 130px;
  width: 130px;
  align-self: flex-start;

  .book-cover {
    width: 100%;
    aspect-ratio: 2 / 3;
    background-color: var(--primary-low-mid);
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .no-cover {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-size: 0.8em;
      color: var(--primary-medium);
      text-align: center;
      padding: 5px;
    }
  }

  .book-info {
    font-size: 0.9em;
    line-height: 1.2;

    .book-title {
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 3px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .book-author {
      font-size: 0.85em;
      color: var(--primary-medium);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  /* Стили для ссылки "Больше" */
  &.more-card-link {
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: translateY(-3px); /* Легкий подскок при наведении */

      .more-cover {
        background-color: var(--primary-low); /* Чуть темнее при наведении */
        border-color: var(--primary-medium);
      }

      .more-text, .more-icon {
        color: var(--primary);
      }
    }
  }

  /* Сама "обложка" заглушки */
  .book-cover.more-cover {
    background-color: var(--primary-very-low); /* Светло-серый (или фон форума) */
    border: 1px dashed var(--primary-low-mid); /* Пунктирная рамка */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--primary-medium);

    .more-text {
      font-size: 0.9em;
      font-weight: bold;
      margin-bottom: 5px;
      line-height: 1.2;
    }

    .more-icon {
      font-size: 1.2em;
      margin-top: 5px;
    }
  }
}

/* ==================================================== */
/* END КАРТОЧКА КНИГИ В НАСТРОЙКАХ */
/* ==================================================== */


/* ==================================================== */
/* Виджет в профиле привязки приложения */
/* ==================================================== */
.btn-mini-copy {
  padding: 2px 4px !important;
  height: auto !important;
  line-height: 1 !important;
  background: transparent !important;

  .d-icon {
    font-size: 0.9em !important;
    color: var(--primary) !important;
  }

  &:hover .d-icon {
    color: var(--tertiary) !important;
  }
}

.yulib-user-avatar[src*="avatar.png"] {
  filter: grayscale(1) brightness(0.8);
  background: #000000;
  padding: 0.1em;
  opacity: 0.7;
}

.yulib-integration .alert.alert-success {
  background-color: var(--success-low) !important;
  border-radius: 14px;
  @media (prefers-color-scheme: dark) { // DARK THEME
    background-color: #383838 !important;
  }
}


.btn {
  border-radius: 10px;
}

.yulib-integration .controls span[style*="font-size: 0.8em"] {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 100%;
  font-weight: 600;
  font-size: 18px;

  span {
    flex-wrap: wrap;
    word-break: break-all;
    line-height: 1.4;
    font-size: 14px;
    color: var(--primary);

  }
}

.yulib-integration .controls strong {
  word-break: break-all;
  color: var(--primary);
  font-weight: 400;
}

.yulib-widget-yulib-label-title {
  font-weight: 800 !important;
  color: var(--primary);
}

.yulib-widget-yulib-label {
  font-size: 14px;
  font-weight: 600 !important;
}

.yulib-widget-yulib-label-push-enabled {
//124026
}

/* ==================================================== */
/* END Виджет в профиле привязки приложения */
/* ==================================================== */


/* ==================================================== */
/* Виджет на главной привязки приложения */
/* ==================================================== */
.yulib-home-widget {
  display: flex;
  align-items: center;
  gap: 15px; /* Расстояние между всеми блоками */
  padding: 12px 20px;
  border-radius: 12px;
  margin: 0px auto 20px auto;
  max-width: 600px;
  background-color: var(--success-low);
  border: 1px solid var(--success-medium);

  @media (prefers-color-scheme: dark) {
    background-color: #171717 !important;
    border: 0px;
  }

  .yulib-widget-left {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1; /* Растягивается, прижимая кнопку к правой части */
  }

  .yulib-widget-center {
    flex: 0 0 auto; /* Занимает ровно столько места, сколько нужно кнопке */
  }

  .yulib-widget-right {
    flex: 0 0 auto; /* Занимает ровно столько места, сколько нужно иконке */
    display: flex;
    align-items: center;
    min-width: 20px; /* Чтобы иконка не прыгала при смене */
  }

  .yulib-widget-title {
    font-weight: bold;
    color: var(--primary); /* Гарантируем, что цвет будет основным */
    font-size: 1.0em; /* Можно чуть увеличить для акцента */
  }

  .yulib-toggle-btn {
    padding: 6px;
    margin-left: 16px; /* Отступ от колокольчика */

    .d-icon {
      color: inherit; /* Чтобы иконка наследовала цвет текста кнопки */
    }

    &:hover {
      background: #9bd79b !important; /* Легкое затемнение при наведении */
      color: #000 !important;
      @media (prefers-color-scheme: dark) {
        background-color: #252525 !important;
        border: 0px;
      }
    }

    &:active {
      transform: scale(0.9); /* Эффект нажатия */
    }
  }

  .yulib-enable-btn {
    border-radius: 20px;
    padding: 6px 15px;
    color: black;

    .d-icon {
      color: #000000; /* Например, золотой */
    }

    &:hover {
      background-color: #5ec35e !important; /* Цвет фона при наведении */
      color: #FFFFFF !important; /* Цвет текста при наведении */

      .d-icon {
        color: #FFFFFF !important; /* Цвет иконки при наведении */
        fill: #FFFFFF !important;
      }
    }
  }
}

/* ==================================================== */
/* END Виджет на главной привязки приложения */
/* ==================================================== */

/* ==================================================== */
/* Виджет на главной НЕ привязано (промо-виджет) */
/* ==================================================== */
.yulib-home-widget.yulib-promo-widget {
  background-color: #f4f5f5; /* Светло-серый фон Discourse */
  border: 1px dashed var(--primary-medium); /* Пунктирная граница подчеркивает статус */
  text-decoration: none; /* Убираем подчеркивание у ссылки */
  color: var(--primary);
  cursor: pointer;


  /* Центрируем иконку-заглушку вместо аватара */
  .promo-icon-wrapper {
    background: #000;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    flex-shrink: 0;
  }

  /* Текст внутри серого виджета */
  .yulib-widget-title {
    color: var(--primary);
  }

  .yulib-widget-user {
    color: var(--primary-high);
  }

  .yulib-widget-title {
    font-weight: bold;
    color: var(--primary); /* Гарантируем, что цвет будет основным */
    font-size: 1.1em; /* Можно чуть увеличить для акцента */
  }


  /* Эффект при наведении на серый блок */
  &:hover {
    background-color: #ffffff;
    border-style: solid; /* Меняем пунктир на сплошную линию */
    border-color: lightgray;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .promo-icon-wrapper {
      background: var(--primary-medium);
      color: var(--secondary);
    }
  }
}

/* Иконки статуса (цвета) */
.yulib-home-widget {
  .icon-success {
    color: var(--success);
  }

  .icon-disabled {
    color: #a9a9a9;
  }
}

/* ==================================================== */
/* END Виджет на главной НЕ привязано (промо-виджет) */
/* ==================================================== */

/* ==================================================== */
/* БАННЕР НА ГЛАВНОЙ ПРИЛОЖЕНИЯ На экранах меньше 545px */
/* ==================================================== */
@media screen and (max-width: 545px) {
  .yulib-home-widget {

    .yulib-enable-btn {
      .d-button-label {
        font-size: 0.8em;
      }
    }

    .yulib-widget-right {
      display: flex !important; /* Саму область показываем */

      /* Скрываем всё внутри, КРОМЕ нашей кнопки */
      > *:not(.yulib-toggle-btn) {
        display: none !important;
      }
    }


    /* Добавляем отступ справа для левой части, чтобы текст не лип к краю */
    .yulib-widget-left {
      padding-right: 10px;
    }
  }
  .yulib-widget-info {
    .yulib-widget-title {
      font-weight: bold;
      color: var(--primary); /* Гарантируем, что цвет будет основным */
      font-size: 0.8em; /* Можно чуть увеличить для акцента */
    }

    .yulib-widget-user {
      color: var(--primary); /* Гарантируем, что цвет будет основным */
      font-size: 0.7em; /* Можно чуть увеличить для акцента */
    }
  }
}

/* ==================================================== */
/* END БАННЕР НА ГЛАВНОЙ ПРИЛОЖЕНИЯ На экранах меньше 545px */
/* ==================================================== */

/* ==================================================== */
/* БАННЕР НА ГЛАВНОЙ ПРИЛОЖЕНИЯ На экранах меньше 490px */
/* ==================================================== */
@media screen and (max-width: 490px) {
  .yulib-home-widget {
    /* Скрываем правую часть (иконку статуса) */
    .yulib-widget-right {
      display: flex !important;

      > *:not(.yulib-toggle-btn) {
        display: none !important;
      }
    }

    .yulib-enable-btn {
      .d-button-label {
        display: none; /* Скрываем текст "Подключить" */
      }

      //padding: 6px 10px; /* Делаем кнопку квадратной */
    }

    /* Добавляем отступ справа для левой части, чтобы текст не лип к краю */
    .yulib-widget-left {
      padding-right: 10px;
    }
  }
  .yulib-home-widget.yulib-promo-widget {
    .yulib-widget-title {
      font-weight: bold;
      color: var(--primary); /* Гарантируем, что цвет будет основным */
      font-size: 0.8em; /* Можно чуть увеличить для акцента */
    }

    /* Стили для подзаголовка */
    .yulib-widget-user {
      font-size: 0.75em; /* Чуть меньше заголовка */
      color: var(--primary-high); /* Приглушенный серый цвет Discourse */
      line-height: 1.2; /* Плотный межстрочный интервал */
      display: block; /* Чтобы текст точно был на новой строке */
    }

    /* Центрируем иконку-заглушку вместо аватара */
    .promo-icon-wrapper {
      background: #000;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
      flex-shrink: 0;
    }
  }
}

/* ==================================================== */
/* END БАННЕР НА ГЛАВНОЙ ПРИЛОЖЕНИЯ На экранах уже 490px */
/* ==================================================== */

/* ==================================================== */
/* СВЕРНУТЫЙ БАННЕР (COLLAPSED) */
/* ==================================================== */
.yulib-home-widget.collapsed {
  //background-color: transparent;
  background-color: var(--primary-very-low);
  border: 1px solid transparent;
  padding: 8px 15px;
  margin: 0 auto 26px auto;
  max-width: fit-content;
  display: flex;
  justify-content: center; /* Центрируем всё содержимое внутри */
  align-items: center;

  /* Убираем жадность левого блока, чтобы он не забирал всё пространство */
  .yulib-widget-left {
    flex: 0 0 auto !important;
    margin-right: 0;
  }

  /* Аватарка */
  .yulib-user-avatar {
    width: 28px !important;
    height: 28px !important;
    margin-right: 8px;
  }

  /* Имя пользователя */
  .yulib-widget-user.collapsed-name {
    font-size: 0.9em;
    font-weight: bold;
    color: var(--primary-high);
    white-space: nowrap; /* Чтобы имя не переносилось */
  }

  /* Кнопка переключения - ПРИЖАТА К ИМЕНИ */
  .yulib-toggle-btn {
    padding: 4px;
    margin-left: 4px !important; /* Минимальный отступ от имени, как ты и хотел */
    background: transparent;
    display: flex;
    align-items: center;

    .d-icon {
      color: var(--primary-medium);
      font-size: 0.8em;
    }

    &:hover {
      background: #d8d7d7 !important; /* Твой розовый акцент */

      .d-icon {
        color: #fff !important; /* Иконка станет белой на розовом фоне */
      }
    }

    &:active {
      transform: scale(0.9);
    }
  }

  /* Эффект при наведении на весь свернутый ряд */
  &:hover {
    //background-color: var(--primary-very-low);
    background-color: transparent;
    border-radius: 20px; /* Сделаем его овальным, раз он по центру */
  }
}

/* ==================================================== */
/* END СВЕРНУТЫЙ БАННЕР (COLLAPSED) */
/* ==================================================== */


/* ==================================================== */
/* СТАТИСТИКА ПРОЧИТАНО, ПЛАНИРУЕТЯ ПОД КАЖДЫМ СООБЩЕНИЕМ ПОЛЬЗОВАТЕЛЯ */
/* ==================================================== */
// Уменьшает отступ от меню до статистики
.cooked:has(.yulib-stats-neutral) + .post__menu-area {
  margin-top: 0;
  padding-top: 5px;
}

.yulib-stats-neutral {
  /* --- ОСНОВНОЙ СТИЛЬ (Нейтральный) --- */
  background-color: var(--primary-very-low);
  border-radius: 12px;
  padding: 12px 12px;
  margin-top: 8px;

  /* По умолчанию: в строку */
  display: flex;
  width: fit-content; /* Контейнер не на всю ширину */
  margin-left: auto; /* Магия: толкает блок максимально вправо */
  margin-right: 0;


  flex-wrap: wrap;
  align-items: center;
  gap: 12px;

  font-size: 0.75em;
  color: var(--primary-medium);
  line-height: 1.3;

  .y-item {
    display: flex;
    align-items: center;
    gap: 4px;

    b {
      color: #a2a2a2;
      font-weight: 700;
    }
  }

  /* Точки-разделители (только для десктопа) */
  .y-item:not(:last-child)::after {
    content: "•";
    margin-left: 12px;
    color: var(--primary-low-mid);
  }

  &:hover {
    background-color: var(--primary-low);
    color: var(--primary);

    .y-item b {
      color: var(--primary);
    }
  }


  /* Стили для кнопки информации и попапа */

  .y-info-wrapper {
    position: relative; /* Чтобы попап позиционировался относительно иконки */
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 4px; /* Чуть отодвинем от цифр */
  }

  /* Сама круглая кнопка "i" */
  .y-info-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid var(--primary-medium);
    color: var(--primary-medium);
    font-family: serif; /* Шрифт с засечками для красивой "i" */
    font-style: italic;
    font-weight: bold;
    font-size: 11px;
    transition: all 0.2s ease;
    user-select: none;
  }

  /* Эффект при наведении на кнопку */
  .y-info-wrapper:hover .y-info-icon,
  .y-info-wrapper.active .y-info-icon {
    background-color: var(--primary-medium);
    color: var(--secondary); /* Цвет текста станет цветом фона страницы (контраст) */
    border-color: var(--primary-medium);
  }

  /* Всплывающее облачко (скрыто по умолчанию) */
  .y-info-popup {
    display: none; /* Скрыто */
    position: absolute;
    bottom: 30px; /* Появляется СВЕРХУ от иконки */
    right: -5px;  /* Выравнивание по правому краю */

    width: 220px; /* Ширина текста */
    padding: 10px;

    background-color: var(--primary-high); /* Темный фон (инверсия) */
    color: var(--secondary);               /* Светлый текст */

    border-radius: 6px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    z-index: 999;
    line-height: 1.4;

    /* Анимация появления */
    opacity: 0;
    transform: translateY(5px);
    transition: opacity 0.2s, transform 0.2s;
  }

  /* Стрелочка у облачка снизу */
  .y-info-popup::after {
    content: "";
    position: absolute;
    bottom: -5px;
    right: 8px; /* Стрелочка указывает на иконку */
    border-width: 5px 5px 0;
    border-style: solid;
    border-color: var(--primary-high) transparent transparent transparent;
  }

  /* Когда класс active добавлен JS-ом -> Показываем */
  .y-info-wrapper.active .y-info-popup {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  /* 👆👆👆 */
}

/* ==================================================== */
/* END СТАТИСТИКА ПРОЧИТАНО, ПЛАНИРУЕТЯ ПОД КАЖДЫМ СООБЩЕНИЕМ ПОЛЬЗОВАТЕЛЯ */
/* ==================================================== */

/* ==================================================== */
/* КНОПКА ИНТЕГРАЦИЯ С ЮЛИБ В НАСТРОЙКАХ */
/* ==================================================== */
/* Стиль для кнопки в шапке профиля */
.yulib-profile-btn {
  /* Твой цвет фона (например, оранжевый или фиолетовый) */
  background-color: #2ecc71;
  color: #FFFFFF !important;
  border: none;
  padding: 9px;
  /* Эффект при наведении */
  &:hover {
    background-color: #27ae60; /* Чуть темнее при наведении */
    color: #ffffff;
    @media (prefers-color-scheme: dark) {
      background-color: #252525 !important;
      border: 0px;
    }
  }

  /* --- 2. СОСТОЯНИЕ "ПРИВЯЗАН" (Добавляем этот блок) --- */
  &.is-connected {
    background-color: var(--d-button-default-bg-color); /* Зеленый (Успех) */
    color: var(--d-button-default-text-color) !important;
    padding: 9px;

    .d-icon {
      color: var(--d-button-default-text-color);
    }

    &:hover {
      background-color: #d7d6d6 /* Темно-зеленый при наведении */
    }
  }

  /* Цвет иконки (книжки) */
  .d-icon {
    color: #ffffff;
  }
}

/* ==================================================== */
/* END КНОПКА ИНТЕГРАЦИЯ С ЮЛИБ В НАСТРОЙКАХ */
/* ==================================================== */


/* ==================================================== */
/* СТИЛЬ ТОЛЬКО ДЛЯ КНОПКИ ВКЛЮЧЕНИЯ ПУШЕЙ */
/* ==================================================== */
.yulib-enable-push-btn {
  background: #a4f4a4;
  @media (prefers-color-scheme: dark) {
    background-color: #252424 !important;
  }

  &:hover {
    background-color: #92db92 !important; // Цвет при наведении
    @media (prefers-color-scheme: dark) {
      background-color: #5b5a5a !important;
    }
  }

}
/* ==================================================== */
/* END СТИЛЬ ТОЛЬКО ДЛЯ КНОПКИ ВКЛЮЧЕНИЯ ПУШЕЙ */
/* ==================================================== */


/* ==================================================== */
/* СТАТИСТИКА ПРОЧИТАНО ПЛАНИРУЕТСЯ ВО ВСПЛЫВАЮЩЕМ ПРОФИЛЕ */
/* ==================================================== */
.yulib-stats-neutral.card-stats {
  margin-left: 0 !important;   /* 👈 Прижимаем к левому краю */
  margin-right: auto !important;
  margin-top: 10px;
  margin-bottom: 5px;

  /* В карточке обычно мало места, можно чуть уменьшить gap */
  gap: 8px;

  /* Настраиваем фон, чтобы он гармонично смотрелся в карточке */

}
/* ==================================================== */
/* END СТАТИСТИКА ПРОЧИТАНО ПЛАНИРУЕТСЯ ВО ВСПЛЫВАЮЩЕМ ПРОФИЛЕ */
/* ==================================================== */
